---
import Layout from "../../components/Layout.astro"

const posts: {
	frontmatter: import("../../layouts/BlogPost.astro").Props["content"],
	url: string
}[] = await Astro.glob("./*")
---

<Layout title="Samual's Blog">
	<section>
		<ul style="list-style-type: none; padding: unset">{
			posts
				.sort((a, b) => Number(new Date(b.frontmatter.pubDate)) - Number(new Date(a.frontmatter.pubDate)))
				.map(post => (
					<li style="display: flex">
						<time
							style="font-style: italic; margin-right: 2ch; font-family: monospace"
							datetime={post.frontmatter.pubDate}
						>
							{new Date(post.frontmatter.pubDate).toLocaleDateString()}
						</time>

						<a href={post.url}>{post.frontmatter.title}</a>
					</li>
				))
		}</ul>
	</section>
</Layout>
