*, *::before, *::after {
	box-sizing: border-box
}

* {
	margin: 0
}

:root {
	font-size: clamp(16px, 3vw, 20px);
	line-height: 1.5;
	font-family: sans-serif;
	margin: auto;
	max-width: min(65ch, calc(100% - 2em));
	text-align: center;
	-webkit-font-smoothing: antialiased;
	--text-colour: rgb(191, 223, 191);
	--title-text-colour: rgb(223, 239, 223);
	--background-colour: rgb(8, 16, 8);
	color: var(--text-colour);
	background-color: var(--background-colour)
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100svh;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%
}

input, button, textarea, select {
	font: inherit
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word
}

h1, h2, h3, h4, h5, h6 {
	color: var(--title-text-colour);
	font-family: serif
}

code {
	color: var(--title-text-colour)
}

a {
	color: var(--title-text-colour);
	text-shadow: 0 0 1px, 0 0 5px;
	text-decoration: unset
}

a:hover, a:hover code, #discordClickable:hover, #changeThemeClickable:hover {
	color: white;
	text-decoration: underline
}

main {
	text-align: left;
	display: inline-block;
	align-self: center
}

ul {
	padding-left: 2ex
}

p {
	margin-bottom: 1em;
}

#discordClickable, #changeThemeClickable {
	background: unset;
	border: unset;
	cursor: pointer;
	padding: unset;
	color: var(--title-text-colour);
	text-shadow: 0 0 1px, 0 0 5px;
}
