:root {
	--text-colour: rgb(191, 223, 191);
	--title-text-colour: rgb(223, 239, 223);
	--background-colour: rgb(8, 16, 8)
}

body {
	font-family: sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 70ch;
	text-align: center;
	background-color: var(--background-colour);
	color: var(--text-colour);
	font-size: clamp(16px, 3vw, 20px)
}

h1, h2, h3, h4, h5, h6, strong, b {
	color: var(--title-text-colour);
	font-family: monospace;
	margin-bottom: 0.5rem;
	margin-top: 0;
}

code {
	color: var(--title-text-colour)
}

a {
	text-shadow: 0 0 1px, 0 0 5px;
	color: var(--title-text-colour);
	text-decoration: unset
}

a:hover, a:hover code {
	color: white;
	text-decoration: underline
}

main {
	text-align: left;
	display: inline-block;
}

:is(h1, h2, h3, h4, h5, h6) + ul {
	margin-top: 0
}

ul {
	padding-left: 1rem
}
