---
import Layout from "/components/Layout.astro"
---

<Layout style="font-family: monospace">
	<p>I like to make stuff</p>
	<p>I write a lot of <a href="https://www.typescriptlang.org/">TypeScript</a></p>
	<p>I also play <a href="https://store.steampowered.com/app/469920/hackmud/">hackmud</a></p>
</Layout>
