---
import Layout from "../components/Layout.astro"
---

<Layout style="font-family: monospace">
	<p>I'm a programmer who mostly writes <a href="https://www.typescriptlang.org/">TypeScript</a> both as my hobby and my job</p>
	<p>You'll find many different projects on my GitHub</p>
	<p>I have dabbled with encoding/serialisation, game dev, automation, AST manipulation, parsing</p>
	<p>I have a long term goal of writing a programming language</p>
	<p>In my day job, I'm mostly a fullstack developer using <a href="https://start.solidjs.com/">SolidStart</a> with some sysadmin on the side</p>
</Layout>
