---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, ...props } = Astro.props
---

<a
	style={{
		display: `inline-block`,
		"text-decoration": `none`,
		"margin-right": `10px`,

		...href == Astro.url.pathname
			? { "font-weight": `bolder`, "text-decoration": `underline` }
			: {}
	}}

	href={href}
	{...props}
>
	<slot/>
</a>
