---
import HeaderLink from "./HeaderLink.astro"
import { SITE_TITLE } from "/config"
---

<header style="margin: 0em 0 2em">
	<h2 style="margin: 0.5em 0">
		{SITE_TITLE}<br>
		{`-`.repeat(SITE_TITLE.length + 1)}
	</h2>

	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog/">Blog</HeaderLink>
		<HeaderLink href="https://github.com/samualtnorman" target="_blank">GitHub</HeaderLink>
		<HeaderLink href="https://twitter.com/SamualTNorman" target="_blank">Twitter</HeaderLink>
	</nav>
</header>
