---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}
---

<a
	style={{
		display: `inline-block`,
		"text-decoration": `none`,
		"margin-right": `10px`,

		...Astro.props.href == Astro.url.pathname
			? { "font-weight": `bolder`, "text-decoration": `underline` }
			: {}
	}}

	{...Astro.props}
>
	<slot/>
</a>
