---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}
---

<a
	style={{
		"text-decoration": `none`,

		...Astro.props.href == Astro.url.pathname
			? { "font-weight": `bolder`, "text-decoration": `underline` }
			: undefined
	}}

	{...Astro.props}
>
	<slot/>
</a>
