---
import Layout from "../components/Layout.astro"

export type Props = {
	content: {
		title: string
		description: string
		pubDate: string
		updatedDate?: string
		heroImage?: string
	}
}

const { content: { title, pubDate: publishedDate, updatedDate, heroImage } } = Astro.props
---

<Layout title={title}>
	<article>
		{heroImage &&
			<img style="max-width: 100%; height: auto" width="720" height="360" src={heroImage} alt=""/>
		}

		<h1 style="margin: 0.25em 0 0; display: inline">{title}</h1>

		{publishedDate && <time style="float: right; margin: 1ch 0 1ch 1ch">
			{new Date(publishedDate).toLocaleDateString(undefined, { dateStyle: `full` })}
		</time>}

		{updatedDate && <div>Last updated on <time>{updatedDate}</time></div>}
		<hr style="border-top: 1px solid var(--title-text-colour); margin: 1ch 0; width: 100%"/>
		<slot/>
	</article>
</Layout>
