---
import Layout from "../components/Layout.astro"

export type Props = {
	content: {
		title: string
		description: string
		pubDate: string
		updatedDate?: string
	}
}

const { content: { title, pubDate: publishedDate, updatedDate } } = Astro.props
---

<Layout title={title}>
	<article>
		<h1 style="display: inline">{title}</h1>

		{publishedDate && <time style="float: right; margin: 1ch 0 1ch 1ch">
			{new Date(publishedDate).toLocaleDateString(undefined, { dateStyle: `full` })}
		</time>}

		{updatedDate && <div>Last updated on <time>{updatedDate}</time></div>}
		<hr style="border-top: 1px solid var(--title-text-colour); margin-bottom: 1rem; width: 100%"/>
		<slot/>
	</article>
</Layout>
